//===About===

.about{
    background-image: url('../source/img/about_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 556px;
    
    display: flex;
    justify-content: end;
    align-items: flex-end;

    padding-right: 140px;
    margin-bottom: 293px;

    .about__info{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(72.8013px);
        border-radius: 2.88322px;

        padding: 58px 48px 50px 71px;
        display: inline-block;

        margin-bottom: -133px;

        border: solid 2px rgba($color: silver, $alpha: 0.7);
        /*
        position: relative;
        top: 216px;
        left: 884px;
        */

        h1{
            font-family: 'Inter';
            font-weight: 800;
            font-size: 44.5093px;
            line-height: 60px;
            font-feature-settings: 'salt' on, 'liga' off;

            margin-bottom: 18px;
        }

        p{
            font-family: 'Inter';
            font-weight: 400;
            font-size: 20.0292px;
            line-height: 36px;
            font-feature-settings: 'salt' on, 'liga' off;

            max-width: 460px;

            margin-bottom: 45px;
        }

        .about__links{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            font-feature-settings: 'salt' on, 'liga' off;

            display: flex;
            align-items: center;
    
            .about__video-link{
                display: flex;
                align-items: center;

                margin-left: 45px;
    
                svg{margin-right: 9px;}
            }

            a{transition: 0.2s;}
            a:hover{text-decoration: underline;}
        }
    }
}